# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
*.tar.gz
*.whl

# Virtual environment
.venv/
venv/
ENV/
env/

# VSCode settings (optional)
.vscode/

# macOS metadata files
.DS_Store
